nodes/Axelor/workflows/saleOrder.json
{
	"name": "Axelor SaleOrder-n8n workflow",
	"nodes": [
		{
			"parameters": {
				"jsCode": "for (const item of $input.all()) {\n  const originalTimestamp = new Date(item.json.timestamp);\n  const newTimestamp = new Date(originalTimestamp.getTime() - 24 * 60 * 60 * 1000); // Add 24 hours\n  item.json.newTimestamp = newTimestamp.toISOString(); // or .toLocaleString() if preferred\n}\nreturn $input.all();\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [-180, 0],
			"id": "ab1d2483-fb91-422e-b257-96c7da5fcea2",
			"name": "Code"
		},
		{
			"parameters": {
				"operation": "search",
				"model": "com.axelor.apps.sale.db.SaleOrder",
				"query": "=self.createdOn >= :createdOn",
				"advancedSettings": true,
				"context": {
					"context": [
						{
							"key": "createdOn",
							"value": "={{ $json.newTimestamp }}"
						}
					]
				}
			},
			"type": "CUSTOM.axelor",
			"typeVersion": 1,
			"position": [20, 0],
			"id": "e3481f89-8cb2-4312-82c4-00974efad25f",
			"name": "Axelor",
			"credentials": {
				"axelorApi": {
					"id": "UcsF8vmOHq1HJand",
					"name": "Axelor account"
				}
			}
		},
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"triggerAtHour": 6
						}
					]
				}
			},
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.2,
			"position": [-400, 0],
			"id": "bc2a6366-06b5-4c4d-b5cf-f4e11ea81e24",
			"name": "Schedule Trigger"
		},
		{
			"parameters": {
				"jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  const extracted = {\n    saleOrderId: data.saleOrderSeq || data.id,\n    customer: data.clientPartner?.fullName || \"Unknown\",\n    products: (data.saleOrderLineList || []).map(p => p.fullName),\n    exTaxTotal: data.exTaxTotal,\n    taxTotal: data.taxTotal,\n    inTaxTotal: data.inTaxTotal,\n    invoiceAddress: data.mainInvoicingAddressStr?.replace(/\\n/g, \", \") || \"N/A\",\n    currency: data.currency?.name || \"N/A\",\n    createdOn: data.creationDate || data.createdOn,\n    paymentTerms: data.paymentCondition?.name || \"N/A\",\n    paymentMode: data.paymentMode?.name || \"N/A\"\n  };\n\n  output.push(extracted);\n}\n\nreturn [{json:{orders:output}}];\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [200, 0],
			"id": "c7f21752-9b51-431c-9036-948f2cf3e7aa",
			"name": "Code1"
		},
		{
			"parameters": {
				"sendTo": "k.kumarshaw@axelor.com",
				"subject": "=🗓️ Daily Sales Summary – {{ $now.format('YYYY-MM-DD') }}",
				"message": "=<h2>📊 Daily Sales Report - {{ $now.format('MMMM Do, YYYY') }}</h2>\n\n<p>Here is the summary of today's confirmed sale orders:</p>\n{{ $json.orders.map(order => `\n  <hr/>\n  <h3>🧾 Order ID: ${order.saleOrderId}</h3>\n  <ul>\n    <li><strong>Customer:</strong> ${order.customer}</li>\n    <li><strong>Date:</strong> ${order.createdOn}</li>\n    <li><strong>Invoice Address:</strong> ${order.invoiceAddress}</li>\n    <li><strong>Payment Terms:</strong> ${order.paymentTerms}</li>\n    <li><strong>Payment Mode:</strong> ${order.paymentMode}</li>\n    <li><strong>Products:</strong>\n      <ul>\n        ${order.products.map(p => `<li>${p}</li>`).join('')}\n      </ul>\n    </li>\n    <li><strong>Subtotal:</strong> ${order.exTaxTotal} ${order.currency}</li>\n    <li><strong>Tax:</strong> ${order.taxTotal} ${order.currency}</li>\n    <li><strong>Total:</strong> ${order.inTaxTotal} ${order.currency}</li>\n  </ul>\n`).join('') \n}}\n\n<hr/>\n<h3>📦 Total Sales Summary</h3>\n<ul>\n  <li><strong>Number of Orders:</strong> {{ $json.orders.length }}</li>\n  <li><strong>Total Revenue (Excl. Tax):</strong> {{ $json.orders.reduce((sum, o) => sum + Number(o.exTaxTotal), 0).toFixed(2) }} Euro</li>\n  <li><strong>Total Revenue (Incl. Tax):</strong> {{ $json.orders.reduce((sum, o) => sum + Number(o.inTaxTotal), 0).toFixed(2) }} Euro</li>\n</ul>\n\n<p>Keep up the great work! 🚀</p>\n",
				"options": {
					"appendAttribution": false
				}
			},
			"type": "n8n-nodes-base.gmail",
			"typeVersion": 2.1,
			"position": [400, 0],
			"id": "d5aefc46-3850-4eb2-a6c2-49a5a959b43d",
			"name": "Gmail",
			"webhookId": "c1c06ec2-98c8-48f9-82cd-eed97af106bf"
		}
	],
	"pinData": {},
	"connections": {
		"Code": {
			"main": [
				[
					{
						"node": "Axelor",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "Code",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Axelor": {
			"main": [
				[
					{
						"node": "Code1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Code1": {
			"main": [
				[
					{
						"node": "Gmail",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "2c952a5c-4e25-4ad7-a5a0-3e603390af74",
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "51214fd8a03cf3a9453785abfbd8430d0c7bb0e202185d9356a7f9b04dfbc8e3"
	},
	"id": "lWbjTx5r7hqYxXRz",
	"tags": []
}
